<nav class="fh5co-nav" role="navigation">
  <div class="container">
    <div class="fh5co-top-logo">
      <div id="fh5co-logo"><a href="index.html">Shift</a></div>
    </div>
    <div class="fh5co-top-menu menu-1 text-center">
      <ul>
        <li><a class="{% if page.url == '/work.html' %}current{% endif %}" href="{{site.baseurl}}/work.html">Work</a></li>
        <li><a class="{% if page.url == '/about.html' %}current{% endif %}" href="{{site.baseurl}}/about.html">Profile</a></li>
        <li><a class="{% if page.url == '/contact.html' %}current{% endif %}" href="{{site.baseurl}}/contact.html">Contact</a></li>
      </ul>
    </div>
    <div class="fh5co-top-social menu-1 text-right">
      <ul class="fh5co-social">
        <li><a href="#"><i class="icon-twitter"></i></a></li>
        <li><a href="#"><i class="icon-dribbble"></i></a></li>
        <li><a href="#"><i class="icon-github"></i></a></li>
      </ul>
    </div>
  </div>
</nav>
